<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.utkarsh.upload-to-r2</string>
	<key>connections</key>
	<dict>
		<key>192220BB-7B20-4978-84DA-D476454B1B0E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>258F2CBB-6ECA-4E5D-A97B-BEBF0B52ECEB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>258F2CBB-6ECA-4E5D-A97B-BEBF0B52ECEB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F559938B-910D-4756-BD05-FB992CE44072</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4E4B65E9-E2A0-45AC-976E-F53632095370</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>305D0AEB-26F1-404C-ADB4-0BDAB467C9C7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FA0DA979-D335-47AA-B113-92BCA60A3DA2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>31D1E44D-45E4-4BEE-B568-B1C960ED9431</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FA0DA979-D335-47AA-B113-92BCA60A3DA2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FA0DA979-D335-47AA-B113-92BCA60A3DA2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F559938B-910D-4756-BD05-FB992CE44072</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4E4B65E9-E2A0-45AC-976E-F53632095370</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Utkarsh Patel</string>
	<key>description</key>
	<string>Upload Screenshot to R2 cloud object-storage after compressing using tinypng</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Upload Screenshot to R2</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>pb</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Upload Clipboard Text</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>192220BB-7B20-4978-84DA-D476454B1B0E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python upload-s3.py "text"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>258F2CBB-6ECA-4E5D-A97B-BEBF0B52ECEB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>F559938B-910D-4756-BD05-FB992CE44072</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>upload</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Upload Clipboard Image</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>305D0AEB-26F1-404C-ADB4-0BDAB467C9C7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python upload-s3.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FA0DA979-D335-47AA-B113-92BCA60A3DA2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Uploaded to S3</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4E4B65E9-E2A0-45AC-976E-F53632095370</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>upload</string>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array/>
				<key>sortmode</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Upload Local File</string>
				<key>types</key>
				<array/>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>31D1E44D-45E4-4BEE-B568-B1C960ED9431</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Questions? Create new issue: https://github.com/PatelUtkarsh/alfred-workflow-upload-to-r2/issues/new</string>
	<key>uidata</key>
	<dict>
		<key>192220BB-7B20-4978-84DA-D476454B1B0E</key>
		<dict>
			<key>xpos</key>
			<real>260</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>258F2CBB-6ECA-4E5D-A97B-BEBF0B52ECEB</key>
		<dict>
			<key>xpos</key>
			<real>510</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>305D0AEB-26F1-404C-ADB4-0BDAB467C9C7</key>
		<dict>
			<key>xpos</key>
			<real>215</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>31D1E44D-45E4-4BEE-B568-B1C960ED9431</key>
		<dict>
			<key>xpos</key>
			<real>290</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>4E4B65E9-E2A0-45AC-976E-F53632095370</key>
		<dict>
			<key>xpos</key>
			<real>810</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>F559938B-910D-4756-BD05-FB992CE44072</key>
		<dict>
			<key>xpos</key>
			<real>800</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>FA0DA979-D335-47AA-B113-92BCA60A3DA2</key>
		<dict>
			<key>xpos</key>
			<real>530</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>cf_access_key</key>
		<string>f6fc100a4a4589455428fbcb73b984db</string>
		<key>cf_account_id</key>
		<string>2bde6e2cfbbf6e40c6d5983c1c8af221</string>
		<key>cf_bucket_name</key>
		<string>screenshot</string>
		<key>cf_secret_key</key>
		<string>509100e91677c2eb61e5e94522a17200297d3c8ca448104bb7606c60399b84fc</string>
		<key>shorturl</key>
		<string>https://p.utkarsh.workers.dev</string>
		<key>tinypng_api_key</key>
		<string>bjPVKsskDX6yNzmcQzHNJRnm6r6L3xHn</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>cf_secret_key</string>
		<string>tinypng_api_key</string>
		<string>cf_bucket_name</string>
		<string>cf_account_id</string>
		<string>cf_access_key</string>
		<string>shorturl</string>
	</array>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://github.com/patelutkarsh</string>
</dict>
</plist>
